/* Estilos para el navbar */
#sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #ffffff;
  padding: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

#sidebar .sidebar-header {
  background-color: #0072ff;
  color: #ffffff;
  padding: 20px;
}

#sidebar ul.components {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar ul li a {
  display: block;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

#sidebar ul li a:hover {
  background-color: #f1f1f1;
  color: #000000;
}

#sidebar ul li.active > a {
  background-color: #0072ff;
  color: #ffffff;
}

/* Estilos para el contenido */
.wrapper {
  margin-left: 250px;
  transition: all 0.3s ease;
}
 
#content {
  padding: 20px;
}

/* Estilos para el fondo */
body {
  overflow-x: hidden;
}

/* Estilos para el botón de menú */
#sidebarCollapse {
  display: none;
}

@media (max-width: 768px) {

  #sidebar {
    margin-left: -250px;
  }

  .wrapper {
    margin-left: 0;
  }

  #sidebarCollapse {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
  }

  #content {
    margin-top: 50px;
  }

}
